# {{ ansible_managed }}

global
        daemon
        log localhost:514 local0 warning
        maxconn 1024
        user haproxy
        group haproxy
        tune.ssl.default-dh-param 2048
        stats socket /var/run/haproxy.sock level admin

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        maxconn 1024
        timeout connect 5000
        timeout client  50000
        timeout server  50000
{% if haproxy.config.stats %}
        stats enable
        stats uri /haproxy?stats
{% endif %}

frontend incoming
       http-request set-header X-Forwarded-For %[src]
{% if haproxy.config.ssl %}
       reqadd X-Forwarded-Proto:\ https
  {% for port in haproxy.config.listen_ports %}
        bind {{ haproxy.config.listen_address }}:{{ port }} ssl crt {{ haproxy.config.x509_key }}crt v4v6
  {% endfor %}
        default_backend backend_servers_ssl
{% else %}
  {% for port in haproxy.config.listen_ports %}
        bind {{ haproxy.config.listen_address }}:{{ port }} v4v6
  {% endfor %}
        default_backend backend_servers
{% endif %}
        option          forwardfor

{% if haproxy.config.ssl %}
backend backend_servers_ssl
        balance roundrobin
  {% for host in groups['www'] %}
        server {{ host }} {{ hostvars[host].ansible_default_ipv6.address }}:{{ hostvars[host].wp.config.port }} ssl verify none cookie {{ host }} check 
  {% endfor %}

{% else %}

backend backend_servers
        balance roundrobin
  {% for host in groups['www'] %}
        server {{ host }} {{ hostvars[host].ansible_default_ipv6.address }}:{{ hostvars[host].wp.config.port }} cookie {{ host }} check 
  {% endfor %}
{% endif %}
