# {{ ansible_managed }}

server {
{% if wp.config.ssl %}
    listen       {{ wp.config.port | default("443") }} ssl; # IPv4
    listen       [::]:{{ wp.config.port | default("443") }} ssl; # IPv6

    ssl_certificate      {{ wp.config.x509_cert }};
    ssl_certificate_key  {{ wp.config.x509_key }};

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_dhparam {{ nginx.config.ssl.dhparam }};
    ssl_ciphers EECDH+AESGCM:EDH+AESGCM;
    ssl_ecdh_curve secp384r1; # Requires nginx >= 1.1.0
    ssl_session_timeout  10m;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off; # Requires nginx >= 1.5.9
    ssl_stapling on; # Requires nginx >= 1.3.7
    ssl_stapling_verify on; # Requires nginx => 1.3.7
    #resolver $DNS-IP-1 $DNS-IP-2 valid=300s;
    resolver_timeout 5s;
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
{% else %}
    listen       {{ wp.config.port }}; # IPv4
    listen       [::]:{{ wp.config.port }}; # IPv6
{% endif %}

    server_name  {{ ansible_fqdn }};

    root {{ wp.config.docroot }}/{{ wp.config.sitedir }};
    index index index.php index.htm index.html;

    location / {
        try_files $uri $uri/ /index.php?q=$uri&$args;
    }

    location ~* "\.php$" {
        try_files $uri =404;
        fastcgi_pass {{ wp.config.fpmurl }};
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $request_filename;
    }
}
