<?php
define('DB_NAME', '{{ wp.config.dbname }}');
define('DB_USER', '{{ wp.config.dbuser }}');
define('DB_PASSWORD', '{{ wp.config.dbpass }}');
define('DB_HOST', '{{ wp.config.dbhost }}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');
{{ wp_salt.content }}
$table_prefix  = 'wp_';
define('WP_DEBUG', false);
if ( !defined('ABSPATH') )
        define('ABSPATH', dirname(__FILE__) . '/');
require_once(ABSPATH . 'wp-settings.php');
