# {{ ansible_managed }}

[mysqld]
user         = {{ mysql.config.user }}
pid-file     = {{ mysql.config.pid }}
socket       = {{ mysql.config.socket }}
port         = {{ mysql.config.port }}
datadir      = {{ mysql.config.datadir }}
bind-address = {{ mysql.config.bindaddr }}
