# {{ ansible_managed }}

{% if nginx.config.ssl.enabled %}
# redirection http://... -> https://...

server {
    listen       {{ nginx.config.port }} default_server; # IPv4
    listen       [::]:{{ nginx.config.port }} default_server; # IPv6

    server_name  {{ nginx.config.fqdn }};
    return 301 https://$server_name{% if nginx.config.ssl.port != 443 %}:{{ nginx.config.ssl.port }}{% endif %}$request_uri;
}

server {
    listen       {{ nginx.config.ssl.port }} ssl; # IPv4
    listen       [::]:{{ nginx.config.ssl.port }} ssl; # IPv6

    ssl_certificate      {{ nginx.config.ssl.x509_cert }};
    ssl_certificate_key  {{ nginx.config.ssl.x509_key }};

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_dhparam {{ nginx.config.ssl.dhparam }};
    ssl_ciphers EECDH+AESGCM:EDH+AESGCM;
    ssl_ecdh_curve secp384r1; # Requires nginx >= 1.1.0
    ssl_session_timeout  10m;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off; # Requires nginx >= 1.5.9
    ssl_stapling on; # Requires nginx >= 1.3.7
    ssl_stapling_verify on; # Requires nginx => 1.3.7
    #resolver $DNS-IP-1 $DNS-IP-2 valid=300s;
    resolver_timeout 5s;
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";

    server_name  {{ nginx.config.fqdn }};

    location / {
        root   {{ nginx.config.root }};
        index  {{ nginx.config.index }};
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   {{ nginx.config.root }};
    }
}
{% else %}
server {
    listen       {{ nginx.config.port }} default_server; # IPv4
    listen       [::]:{{ nginx.config.port }} default_server; # IPv6

    server_name  {{ nginx.config.fqdn }};

    location / {
        root   {{ nginx.config.root }};
        index  {{ nginx.config.index }};
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   {{ nginx.config.root }};
    }
}
{% endif %}
